<sky-dropdown>
  <sky-dropdown-button>5</sky-dropdown-button>
  <sky-dropdown-menu>
    <sky-dropdown-item>
      <button type="button">10</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">15</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">20</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">25</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">30</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">35</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">40</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">45</button>
    </sky-dropdown-item>
    <sky-dropdown-item>
      <button type="button">50</button>
    </sky-dropdown-item>
  </sky-dropdown-menu>
</sky-dropdown>
