.content-container {
  width: 90%;
  margin: 0 auto;
}

button {
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #2b89e2;
    border-color: #2b89e2;
    cursor: pointer;
  }
}

.btn {
  border: 1px solid transparent;
  border-radius: 3px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

.btn-primary {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: white;
}

.filter-container {
  padding: 5px 10px;
  margin-bottom: 15px;
}
