.content-container {
  width: 90%;
  margin: 0 auto;
}

button {
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #2b89e2;
    border-color: #2b89e2;
    cursor: pointer;
  }
}

.filter-container {
  padding: 5px 10px;
  margin-bottom: 15px;
}
