<app-nav></app-nav>
<h1>About our Social Crap</h1>

<div class="filters-container">
  <div class="social-container">
    <h2>I want to include...</h2>
    <div *ngFor="let checkboxItem of socialFilters" class="socialFilter">
      <sky-checkbox [(ngModel)]="checkboxItem.checked" [disabled]="checkboxItem.disabled">
        <sky-checkbox-label>
          {{ checkboxItem.description }}
        </sky-checkbox-label>
      </sky-checkbox>
    </div>
  </div>
  <div class="location-container">
    <h2>But only...</h2>
    <div *ngFor="let checkboxItem of locationFilters">
      <sky-checkbox [(ngModel)]="checkboxItem.checked" [disabled]="checkboxItem.disabled">
        <sky-checkbox-label>
          {{ checkboxItem.description }}
        </sky-checkbox-label>
      </sky-checkbox>
    </div>
  </div>
  <div class="results-container" [hidden]="!resultsAvailable" >
    <hr/>
  </div>
</div>
